[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mlflow = "==2.5.0"
scikit-learn = "*"
xgboost = "*"
boto3 = "*"
psycopg2-binary = "*"
nltk = "*"
contractions = "*"
unidecode = "*"
pydantic = "==1.10.8"
evidently = "*"
prefect = "*"
psycopg-binary = "*"
psycopg = "*"

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
pytest = "*"
pylint = "*"
ipykernel = "*"
httpx = "*"
uvicorn = "*"
mangum = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
