[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mlflow = "*"
scikit-learn = "*"

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
